/* Landingpage.css for the second code snippet */

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  /* Adjust the gap as needed */
}

.card-list .card {
  width: 31%;
  margin-bottom: 20px;
  transition: transform 0.2s;
}

.card-list .card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

body.overlay-active {
  overflow: hidden;
}
