.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

.card-list .card {
  width: 31%;
  margin-bottom: 20px;
  transition: transform 0.2s;
}

.card-list .card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

body.overlay-active {
  overflow: hidden;
}

.footer {
  background: rgba(159, 159, 159, 0.3);
  box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  z-index: 999;
  min-height: 60px;
  overflow: hidden;
}



.footer-links {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  gap: 100px;
}

.footer-links {
  list-style: none;
  display: flex;
}

.footer a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.footer a:hover {
  text-decoration: underline;
}