/* Add this style to your Landingpage.css file or your component's styling */
#sidebar-left,
#sidebar-right {
  width: 600px;
}
/* Add this style to your Landingpage.css file or your component's styling */
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-wrapper {
  width: calc(33.33% - 10px); /* Adjust the width as needed, considering margins */
  margin-bottom: 20px; /* Add some bottom margin for spacing */
}

/* Ensure the images have a fixed height */
.card-wrapper img {
  max-width: 100%;
  height: 200px; /* Set your desired height for the images */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

