/* AddBlogOptions.css */

.add-blog-content {
    background-color: white;
    width: 80%;
    max-width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #50504f;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-blog-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #50504f;
}

.add-blog-content label {
    font-size: 16px;
    color: #50504f;
}

.add-blog-content input[type="text"],
.add-blog-content input[type="text"],
.add-blog-content textarea,
.add-blog-content select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* .add-blog-content select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent url("your-select-arrow-icon.png") no-repeat right center;
} */

.add-blog-content button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #0aa80a;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.add-blog-content button:hover {
    background-color: #088c08;
}

/* .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(172, 171, 171, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.overlay.active {
    display: flex;
}

.overlay {
    display: none;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: rgba(61, 60, 60, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay.active {
    display: flex;
}

.add-blog-content {
    /* background: white; */
    width: 80%;
    max-width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgb(80, 79, 79);
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.overlay-active {
    overflow: hidden;
}