.signin-form {
    width: 300px;
    margin: 0 auto;
  }
  
  .signin-form form {
    display: flex;
    flex-direction: column;
  }
  
  .signin-form label {
    margin-bottom: 10px;
  }
  
  .signin-form input {
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .signin-form button {
    padding: 10px;
  }
  