body {
    font-family: Arial, sans-serif;
  }

  .tab-content {
    max-width: 500px;
    margin: auto;
    margin-top: 150px;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .text-center {
    text-align: center;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .form-check-input {
    margin-right: 5px;
  }
  
  .form-check-label {
    font-size: 14px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }

  a {
    color: #0D6EFD;
    text-decoration: none;
  }
  
  a:hover {
    color: #0056b3;
  }