/* CustomCard.css */
.custom-card {
    width: 20rem; /* Increase the width to your desired size, e.g., 20rem */
  }
  
  .custom-card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit the number of lines to 2 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  