
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.logo {
    max-width: 80px;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}



ul {
    list-style: none;
    display: flex;
}

li {
    margin-right: 15px;
}

